
<!-- footer -->
<footer class="footer" id="footer">
	<div class="inner-wrap">
		<div class="menu-wrap">
			<div class="footer-title">МЕНЮ</div>
			<ul class="menu">
				<li><a href="">Портфолио</a></li>
				<li><a href="">Рассчитать стоимость</a></li>
				<li><a href="">Для кого</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">Ткань для штор</a></li>
				<li><a href="">Карнизы для штор</a></li>
			</ul>
		</div>
		<div class="contacts-wrap">
			<div class="footer-title">КОНТАКТЫ</div>
			<div class="cnt-wrap wrap-phone">
				<div class="cnt-title">Телефон: </div>
				<a href="tel:89152289562" class="link-phone"><b>8 (915) 228-95-62</b></a>
				<a href="" class="btn-action-ico button-main">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-main">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
			</div>
			<div class="cnt-wrap wrap-address">
				<div class="cnt-title">Адрес шоу-рума:</div>
				<div class="cnt-value"><b> Бизнес парк Румянцево <br>корпус Г пав 239Г</b></div>
			</div>
		</div>
		<div class="info-wrap">
			<div class="cnt-wrap wrap-shedule">
				<div class="cnt-title">Время работы:</div>
				<div class="cnt-value"><b>10:00 - 21:00 (без выходных)</b></div>
			</div>
			<div class="cnt-wrap wrap-email">
				<div class="cnt-title">Почта:</div>
				<a href="mailto:info@шторы.ру" class="link-email"><b>info@шторы.ру</b></a>
			</div>
			<div class="cnt-wrap wrap-info">© 2023 Дизайнерские шторы под заказ</div>
		</div>
	</div>
</footer>
<!-- /footer -->


<div class="popup-outer-box" id="popup-order">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Закажите Рассчет стоимости <br> <span class="title-att">это бесплатно!</span></div>
			<p>Оставьте свои контакты и мы свяжемся с вами в&nbsp;ближайшее время</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="popup-form-box">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя">
					</div>
					<div class="frm-field">
						<input type="tel" class="form-input" placeholder="Ваш телефон">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">Нажимая на кнопку, <br>даю согласие на обработку персональных данных</div>
					<div class="frm-field field-button">
						<button type="submit" class="btn">оТПРАВИТЬ</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box" id="popup-cons">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">оставьте заявку на  <br> <span class="title-att">бесплатную консультацию</span></div>
			<p>Оставьте свои контакты и мы свяжемся с вами в&nbsp;ближайшее время</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="popup-form-box">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя">
					</div>
					<div class="frm-field">
						<input type="tel" class="form-input" placeholder="Ваш телефон">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">Нажимая на кнопку, <br>даю согласие на обработку персональных данных</div>
					<div class="frm-field field-button">
						<button type="submit" class="btn">оТПРАВИТЬ</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box" id="popup-designer">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">хочу пригласить дизайнера <br> <span class="title-att">для консультации и замера</span></div>
			<p>Оставьте свои контакты и мы свяжемся с вами в&nbsp;ближайшее время</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="popup-form-box">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя">
					</div>
					<div class="frm-field">
						<input type="tel" class="form-input" placeholder="Ваш телефон">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">Нажимая на кнопку, <br>даю согласие на обработку персональных данных</div>
					<div class="frm-field field-button">
						<button type="submit" class="btn">оТПРАВИТЬ</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box" id="popup-designer-help">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">мне нужна помощь дизайнера <br> <span class="title-att">для выбора ткани</span></div>
			<p>Оставьте свои контакты и мы свяжемся с вами в&nbsp;ближайшее время</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="popup-form-box">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя">
					</div>
					<div class="frm-field">
						<input type="tel" class="form-input" placeholder="Ваш телефон">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">Нажимая на кнопку, <br>даю согласие на обработку персональных данных</div>
					<div class="frm-field field-button">
						<button type="submit" class="btn">оТПРАВИТЬ</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box" id="popup-designer-help-second">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">мне нужна помощь дизайнера <br> <span class="title-att">для выбора карниза</span></div>
			<p>Оставьте свои контакты и мы свяжемся с вами в&nbsp;ближайшее время</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="popup-form-box">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя">
					</div>
					<div class="frm-field">
						<input type="tel" class="form-input" placeholder="Ваш телефон">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">Нажимая на кнопку, <br>даю согласие на обработку персональных данных</div>
					<div class="frm-field field-button">
						<button type="submit" class="btn">оТПРАВИТЬ</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box popup-catalog" id="popup-catalog">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Квартира на набережной</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-catalog-box">
				<div class="items-wrap">
					<div class="item-wrap">
						<a href="./img/cat01.jpg" class="tile-photo photo-cover" data-swipebox="gal">
							<img src="./img/cat01.jpg" alt="">
						</a>
					</div>
					<div class="item-wrap">
						<a href="./img/cat02.jpg" class="tile-photo photo-cover" data-swipebox="gal">
							<img src="./img/cat02.jpg" alt="">
						</a>
					</div>
					<div class="item-wrap">
						<a href="./img/cat03.jpg" class="tile-photo photo-cover" data-swipebox="gal">
							<img src="./img/cat03.jpg" alt="">
						</a>
					</div>
					<div class="item-wrap">
						<a href="./img/cat04.jpg" class="tile-photo photo-cover" data-swipebox="gal">
							<img src="./img/cat04.jpg" alt="">
						</a>
					</div>
					<div class="item-wrap">
						<a href="./img/cat05.jpg" class="tile-photo photo-cover" data-swipebox="gal">
							<img src="./img/cat05.jpg" alt="">
						</a>
					</div>
					<div class="item-wrap">
						<a href="./img/cat06.jpg" class="tile-photo photo-cover" data-swipebox="gal">
							<img src="./img/cat06.jpg" alt="">
						</a>
					</div>
				</div>
				<div class="info-inner-wrap">
					<div class="info-wrap">
						<p><b>Оформлялось:</b> Зал и спальня</p>
						<p><b>Кол-во окон:</b> 4</p>
						<p><b>Ткань для штор:</b> Название, кол-во метров</p>
						<p><b>Фурнитура:</b> Название, кол-во метров</p>
						<p><b>Затраченное время:</b> 10 дней</p>
					</div>
					<div class="total-wrap">
						<div class="total-title">Итоговая сумма</div>
						<div class="total-value">200 000 р</div>
					</div>
				</div>
			</div>
			<div class="popup-form-box">
				<div class="frm-row-submit">
					<div class="frm-field field-button">
						<button type="submit" class="btn">Хочу такое же</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->